.App {
  color: white;
  text-align: center;
}

html {
  width: 357px;
  height: 600px;
  /* background-color: #25272a; */
  /* color: #92b8dc; */
}

.root {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

* {
  font-family: monospace, "Euclid Circular B", Roboto, Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--color-text-default);

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9d9999;
  }
  ::-webkit-scrollbar {
    width: 3px;
    background-color: #a29e9e;
  }
  ::-webkit-scrollbar-thumb {
    background-color: white;

    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      color-stop(0.5, rgba(255, 255, 255, 0.2)),
      color-stop(0.5, transparent),
      to(transparent)
    );
  }
}

/*Common css*/

/* height */
.h_100 {
  height: 100%;
}

/* Flex */
.d_flex {
  display: flex;
}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* margin */

.my_50_mx_0 {
  margin: 50% 0px;
}


/* It is to remove the arrows in the number input field  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}